%div{:id => :post_body}
  %h2
    = @post.title
  %div{:id => :post_content}
    = @post.body
  %div{:id => :post_footer}
    = "Postado em #{@post.created_at.to_s_br} por #{@post.user.name}. Ultima atualização #{@post.updated_at.to_s_br}"
